.mainpage-btn{
    margin: 40px;
    width: 90px;
    height: 40px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    background-color: red;
    :hover{
        color: aqua;
    }
}